version: '3.8'

services:
  go-grpc-todo-list:
    build: 
      context: .
      dockerfile: Dockerfile
    image: go-grpc-todo-list
    container_name: go-grpc-todo-list
    environment:
      - TZ=UTC
    networks:
      - projects-network
    restart: unless-stopped

networks:
  projects-network:
    external: true